.mainDiv{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;
  box-sizing: border-box;
}


.tituloGeneral{
  font-size: 3rem;
  color: #313841;
}


.padreTarjetas{
  width: 100%;
  height: auto;
  border-bottom: box-sizing;
  padding: 60px 60px;
}



.divCards{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
