.imagenDiv{
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #EEEEEE;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 20px 0 20px 0;
}


/* .imagenDiv > img {
  width: auto;
  height: 100%;
  border-radius: 14px;

}
  */

.padreImg{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padreImg > img {
  width: 90%;
  height: 70%;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .padreImg{
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .padreImg{
    width: 90%;
  }
}