.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.barDiv {
  width: 280px;
  flex-shrink: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: sticky;
  top: 10px;
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

.contenidosDiv {
  flex: 1;
  overflow-y: auto;
  padding: 40px;
  box-sizing: border-box;
  scrollbar-gutter: stable both-edges;

  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

.contenidosDiv::-webkit-scrollbar {
  display: none;
  overscroll-behavior-y: none;
}

@media (max-width: 768px) {
  .barDiv {
    display: none; 
  }
}