.card__container {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;

  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
}

.card__container::-webkit-scrollbar {
  display: none;
  overscroll-behavior-y: none;
}

.card {
  width: 100%;
  height: 100vh;
  background: #eeeeee;
  color: #313841;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
}

.element {
  color: #3a4750;
  font-size: 0.8em;
  padding: 6px 15px;
  border-left: 2px solid grey;
  cursor: pointer;
}

.active {
  background-color: #ea9216;
  border-left: 2px solid #ffd700;
  color: azure;
}

.element:hover:not(.active) {
  color: #ea9216;
}
